
<link rel="stylesheet" href="css/styles.css">
<div class="myinfo" ng-hide =myInfoCtrl.signupWarning>

    Welcome {{myInfoCtrl.information.FirstName }} {{myInfoCtrl.information.LastName }} !!!!!
    <div> Verify Your Personal Details</div><br>
    MailId                   : {{myInfoCtrl.information.MailId}}<br>
    Favorite Dish Short Name : {{myInfoCtrl.information.FavoriteDish}}<br>
    PhoneNo                  : {{myInfoCtrl.information.Phone}}<br>
</div>
<a><div ng-if=myInfoCtrl.signupWarning ui-sref="public.signup">{{myInfoCtrl.signupWarning}}</div></a>

<div ng-if=myInfoCtrl.menuItems>
  <menu-item ng-repeat="menuItem in myInfoCtrl.menuItems"
             menu-item="menuItem">
  </menu-item>
</div>

<div class="error" ng-if=myInfoCtrl.warning>{{myInfoCtrl.warning}}</div>
